################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Obj
*.xlsx
*.csv
*.vlg
*.vlog
*.zip
/Debug
/Release
/123456_Visual_2022.sln
/.gitignore
